<!--「genres」にGenre.allを入れる-->
<table class="border">
  <thead>
    <tr class="border-bottom">
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <% genres.each do |genrelist| %>
      <tr>
        <td><%= link_to genrelist.name, items_path(genre_id: genrelist.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>